<h2>Create new Sport</h2>

<form action="/sports/new" method="POST">
<p>
  <label>Name</label>
  <input type="text" name="name">
</p>
<p>
  <label for="">Descriton</label>
    <input type="text" name="description">
</p>
<p>
  <label for="">Ball size</label>
    <select name="ballSize" >
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
    </select>
</p>
<p>
  <label >Number of players</label>
  <input type="number" name="players" id="">
</p>
<p><input type="submit" value="Create new sport"></p>

</form>